/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header Styles */
header {
  background-color: linear-gradient(to right, #dec568, #7e1303) !important;;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

/* Navigation Styles */
.nav-bar {
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #555;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #1abc9c;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: #555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Form Styles */
.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 75%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(50% - 10px);
} */


/* .input-control {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-size: 18px;
  padding: 10px;
  width: 100%;
} */

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  margin-right: 10px;
}

.img-style {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #1f0999;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #1f0999;
}

/* Footer Styles */
footer {
  background-color: #555;
  color: #fff;
  padding: 20px;
  text-align: center;
}